body {
	width: 230px;
	margin: 0;
	background-color: rgb(3,103,152);
}

#top {
	padding: 13px;
}

#middle {
    margin-left: 33px;
    margin-bottom: 11px;
}

#bottom {
    margin-left: 88px;
    margin-bottom: 13px;
}

.number {
	width: 18px;
	height: 68px;
}